<% if @sample_book.nil? %> ERROR 404: BOOK NOT FOUND <% else %>
<div class="edit-book">
  <div class="edit-book--left">
    <img
      class="book-cover"
      src="<%= @sample_book.thumbnail %>"
      alt="<%= @sample_book.title %>"
    />
  </div>

  <div class="edit-book--right">
    <h2 class="book-title"><%= @sample_book.title %></h2>
    <span class="by">
      by <%= @sample_book.authors.join(', ') unless @sample_book.authors.nil?%>
    </span>
    <% unless @sample_book.description.nil? %>
    <p class="book-description">"<%= @sample_book.description %>"</p>
    <% end %>
    <% if @sample_book.price == "Not available"%>
    <p class="book-purchase-button">Not available to buy</p>
    <% else %>
    <a
      class="book-purchase-button"
      href="https://play.google.com/store/books/details?id=<%= @sample_book.uid %>&rdid=book-<%= @sample_book.uid %>"
    >
      Buy for <%= @sample_book.price %>
      <img src="/purchase-cart.svg" alt="buy" />
    </a>
    <% end %>
  </div>
</div>
<% end %>

<style>
  .book-title {
    font-size: 20px;
    line-height: 27px;
    color: #1a202c;
  }

  .by {
    font-size: 16px;
    line-height: 22px;
    color: #4a5568;
  }

  .edit-book {
    display: flex;
    width: 630px;
  }

  .edit-book--left img {
    height: 230px;
    width: 153px;
  }

  .edit-book--right {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }

  .book-description {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1a202c;
    margin-top: 19px;
  }

  .book-purchase-button {
    background: #9ae6b4;
    margin-top: 20px;
    height: 41px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #1a202c;
    padding: 8px 14px;
    align-self: flex-end;
  }
</style>
